.footer {
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #282828;
  padding: 30px;
  display: flex;
  color: black;
  justify-content: space-between;
}
.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}
.footer_albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
.footer_songInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_songInfo > p {
  color: grey;
  font-size: 12px;
}

.footer_green {
  color: #1ed15e;
}
.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}
.footer_center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}
.footer_right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.footer_right * .MuiSlider-root {
  color: #1ed15e;
}
